.home {
  /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.titleCard {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.links {
  /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* Content */
  a {
    margin: 0 6px 0 6px;
    i {
      color: black;
      font-size: 1.5em;
    }
  }
}

.info {
  /* Content */
  margin: 12px 0 12px 0;
}

.name {
  /* Content */
  margin-bottom: 6px;
  font-size: 36px;
  // Underline via border-bottom
  border-bottom: 2px solid black;
}

.program {
  font-size: 18px;
}
